= form_with(model: @post, local: true) do |form|
  - if(@post.errors.any?)
    #errors
      %h2= pluralize(@post.errors.count, "error") + ' prohibited this post from being saved:'
      %ul
      - @post.errors.full_messages.each do |message|
        %li= message 
  %p
    = form.label :title
    = form.text_field :title
  %p
    = form.label :body
    = form.text_area :body
  %p
    = form.submit
